/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, rgb(255, 169, 122) , rgb(255, 141, 118));
}

main {
  display: flex;
  justify-content: space-between;
  box-shadow: 8px 8px 40px;
  flex-direction: column;
  border: 2px solid#481e1e;
  margin: 8rem;
  border-radius: 2rem;
  width: 400px;
  background-color: #ffe8e2;
  padding: 20px;
}

/* i literally cannot get this image to just fit the screen!!!*/
.flex-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 300px;
}

.img {
  background-size: cover;
  object-fit: cover;
  height: 275px;
  width: 400px;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

/*main body text stuff + button*/
p {
  font-size: 1rem;
  color: #2a0e0e;
}
h1 {
  font-size: 0.75rem;
  color: rgb(128, 78, 78);
}
h2 {
  font-size: 2rem;
  color: rgb(66, 27, 27);
}
h3 {
  font-size: 4rem;
  color: rgb(95, 62, 62);
}
.button {
  font-size: 2rem;
  color: rgb(244, 224, 224);
  background-color: rgb(95, 62, 62);
  box-shadow: 3px 3px 8px;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}